:root {
    --very-dark: black;
    --light: white;
}

* {
    /* background-color: var(--light-background); */
}

body {
    border: solid 2px;
    border-radius: 5px;
    padding: 6px

}

/* ******************* */
/* temp styles for dev */
main, main div, main p, main input, main label, 
footer, footer div, footer p, footer input, footer label {
    /* border: solid red 1px; */
}

/* ************** */
/* utility styles */
.mode-light {
    background-color: var(--light);
    color: var(--very-dark);
    border-color: var(--very-dark);
}

.mode-dark {
    background-color: var(--very-dark);
    color: var(--light);
    border-color: var(--light);
}


/* ******************* */
/* header styles */
header {
    border-bottom: solid 4px;
    margin-bottom: 3px;
}

header nav div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

header nav div button {
    border: none;
}

.btn-mode-toggle {
    display:flex;
    align-items: flex-end;
    align-content: center;
}

/* ******************* */
/* main styles         */
main {
    border-top: solid 3px;
}

